<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
<title>iTunes Search - by 010 Pixel</title>

<!-- jQuery -->
<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>

<!-- BootStrap -->
<link rel="stylesheet" href="css/bootstrap-3.1.1.min.css" />
<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>

<!-- AngularJS -->
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controller.js"></script>
<script type="text/javascript" src="js/route.js"></script>

<!-- Main CSS -->
<link rel="stylesheet" type="text/css" href="css/itunes.css">

<!-- Bootstrap Select Menu Start -->
<script type="text/javascript" src="js/bootstrap-select.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/bootstrap-select.css">
<script type="text/javascript">
    $(window).on('load', function () {
        $('.selectpicker').selectpicker();
    });
</script>
<!-- Select Menu End -->

</head>

<body>
    <div ng-app="itunes">
        
        <!--div ng-controller="MainCntl">
            <div ng-view></div>
        </div-->
        
    	<div ng-controller="itunesListCtrl">

            <div class="page-header">
                <h1>{{sitename}} <small>{{author}}</small></h1>
            </div>

            <center>
                <select ng-model="entity" onchange="javascript:window.location.href='#/'+this.value;" class="selectpicker"><option ng-repeat="entity in entities">{{entity}}</option></select>
                <input type="text" class="form-control" ng-model="keyword" value="" ng-change="filter()" />
                <button type="button" class="red btn btn-danger" ng-click="change()">Load new results for: "{{keyword}}"</button>
            </center>
        
            <div ng-show="processing" class="loading"></div>
            
            <div ng-show="!processing && hasResults"  class="alert {{processClass}}">Total matching Items:{{totalFilteredItems = ((results | filter:keyword)).length}}</div>

            <div ng-show="!processing" ng-include="template.url"></div>
            
            <div ng-show="!processing && !hasResults" class="alert {{processClass}}">No results found for "{{keyword}}" in "{{entity}}"</div>
            
            <!--ul id="itunes-list" class="itunes-list fix-width clearboth {{theme}}"  ng-if="resultCount != 0">
                <li ng-repeat="result in results | filter:keyword">
                    <img ng-src="{{result.artworkUrl100}}" class="thumb" />
                    <div>
                        <span class="title" title="{{result.trackName}}">{{result.trackName | limitTo : titleLimit}}</span>
                        <span title="{{result.collectionName}}">{{result.collectionName | limitTo : collectionLimit}}</span>
                        <span class="duration">{{result.trackTimeMillis |  date:"m:ss"}} mins</span><br />
                        <span>By: <a href="{{result.artistViewUrl}}" target="_blank">{{result.artistName}}</a></span>
                        <a href="{{result.previewUrl}}" target="_blank" title="Preview"><img src="images/Media-play-music-icon.png" alt="Preview" /></a>
                        <a href="{{result.trackViewUrl}}" target="_blank" title="View Collection"><img src="images/Curation_bar_icon_info_16x16.png" alt="View Collection" /></a>
                    </div>
                </li>
            </ul-->
            
        </div>    
    </div>
    
</body>
</html>