    <h1>{{entity}}</h1>
    <ul ng-show="hasResults" id="itunes-list" class="itunes-list fix-width clearboth {{theme}} {{entity}}">
    	<li ng-repeat="result in results | filter:keyword">
            <img ng-src="{{result.artworkUrl100}}" class="thumb" />
            <div class="meta">
                <span class="title" title="{{result.trackName}}">{{result.trackName | limitTo : titleLimit}}</span>
                <span title="{{result.collectionName}}">{{result.collectionName | limitTo : collectionLimit}}</span>
                <span class="duration" ng-show="result.trackTimeMillis">{{result.trackTimeMillis |  date:"m:ss"}} mins</span>
                <span>By: <a href="{{result.artistViewUrl}}" target="_blank">{{result.artistName}}</a></span>
                <a href="{{result.previewUrl}}" target="_blank" title="Preview"><img src="images/Media-play-music-icon.png" alt="Preview" /></a>
                <a href="{{result.trackViewUrl}}" target="_blank" title="View Collection"><img src="images/Curation_bar_icon_info_16x16.png" alt="View Collection" /></a>
            </div>
        </li>
    </ul>
